#github {
	border: 3px solid #fff;
	background: #d3b82d;
	border-radius: 6px;
	color: #fff !important;
	text-decoration: none;
	padding: 15px 30px;
	margin: 1% 0 0;
	display: inline-block;
}

.featured-color-change {
	color: #d3b82d;
}
