.no-js-msg {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  padding:0.75em;
  background-color:black;
  color:white;
  text-align:center;
  font-size:24px;
}

.list .list-toggle {
  display:block;
}

.lazy-load-s picture {
  display:none;
}

